.ConfirmationModal {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;

	z-index: 99999;
	backdrop-filter: blur(5px);

	background: var(--overlays-background);
	width: 100%;

	height: 100%;

	> h2 {
		font-weight: bold;
		font-size: 2.5em;
	}

	.button {
		width: 10em;

		min-height: 1.5em;
		.confirm,
		.reject {
			transition: fill 200ms;
		}
		.confirm:hover {
			fill: green;
		}
		.reject:hover {
			fill: orangered;
		}
	}

	ol {
		display: flex;
		position: relative;
		flex-direction: row;
		justify-content: center;
		gap: 0.5em;

		width: 100%;
		list-style-type: none;
		&::before {
			position: absolute;
			top: 50%;
			left: -10%;
			transform: translateY(-50%);
			z-index: -1;
			background: var(--secondary-500);
			width: 120%;
			height: 4px;
			overflow: hidden;
			content: '';
		}
	}
}
