.colorsContainer {
	padding: 1em;
	background-color: white;
	display: flex;
	flex-direction: row;
	gap: 1em;
}
.colorsContainer div {
	width: 3em;
	height: 3em;
	aspect-ratio: 1/1;

	display: flex;
	justify-content: center;
	align-items: center;
}
