.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'leaderboard main podium';
	place-items: center;
	width: 100vw;
	height: 100vh;
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.15;
		z-index: -1;
		background: url('../../assets/backgroundnumbers.png') repeat center center;
		background-size: 20% 40%;
		width: 100%;
		height: 100%;
		content: '';
	}

	& > .startMenu {
		grid-area: main;
		margin: 0;
		padding: 0;

		min-width: 400px;
		list-style: none;

		.logo {
			display: block;
			position: relative;
			margin: 0 auto;
			margin-bottom: 20px;
			border-radius: 50%;
			background: url('../../assets/logo.png') no-repeat center center;
			background-size: cover;
			width: 200px;
			height: 200px;

			&::before,
			&::after {
				position: absolute;
				opacity: 0.75;
				z-index: -1;
				filter: blur(20px);
				animation: neon 1.5s ease-in-out infinite alternate;
				border-radius: 50%;
				background: var(--secondary);
				width: 100%;
				height: 100%;
				content: '';
			}
		}
		& li {
			display: grid;
			place-items: center;
			margin-bottom: 10px;
			width: 100%;
			list-style: none;
			& input {
				display: inline-block;
				box-sizing: border-box;
				margin: 8px 0;
				outline: none;
				border: 3px solid var(--secondary-500);
				border-radius: 10px;
				background-color: var(--primary-800);
				padding: 12px 20px;
				width: 100%;
				max-width: fit-content;
				font-size: 1.5rem;
				text-align: center;
				/* placeholder color */
				&::placeholder {
					color: var(--secondary-300);
				}
			}
		}
	}

	@keyframes neon {
		0% {
			filter: blur(40px);
		}
		100% {
			filter: blur(30px);
		}
	}
}
.popupButton:not(:disabled):hover {
	transition: fill 200ms;
	.hexagon {
		fill: green !important;
	}
}
