.podium {
	grid-area: podium;
	display: flex;
	align-items: flex-end;
	& div {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
		& > span {
			font-size: 1.25rem;
			font-weight: 700;
			color: var(--primary-100);
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		& > .place {
			width: 100%;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;

			& > svg {
				width: 4em;
				height: 4em;
			}
		}
	}
	& .first {
		height: 200px;
		& > .place {
			background-color: var(--secondary-400);
		}
	}
	& .second {
		height: 150px;
		& > .place {
			background-color: var(--primary-300);
		}
	}
	& .third {
		height: 100px;
		& > .place {
			background-color: var(--primary-200);
		}
	}
}
