.podium {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-area: podium;
	align-items: flex-end;
	gap: 0.5em;
	padding: 1em;
	width: 100%;
	& li {
		display: flex;
		flex-direction: column;
		align-items: center;
		& > span {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 0.5em;
			max-width: 150px;
			font-weight: 700;
			font-size: 1.5rem;
			word-break: break-all;
		}
		& > .place {
			display: flex;
			position: relative;
			justify-content: center;
			align-items: center;
			border-top-right-radius: 1em;
			border-top-left-radius: 1em;
			background-color: var(--secondary-800);
			width: 100;
			height: 100%;

			& > svg {
				width: 8em;
				height: 8em;
			}
			& > span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, calc(-50% - 0.85rem));
				/* letter-spacing: -0.2em; */
				font-weight: 900;

				font-size: 3em;
				/* best roman letters font family smooth*/
				font-family: 'Trajan Pro 3', serif;
			}
		}
	}
	& .first {
		& > .place {
			border: 4px solid gold;
			height: calc(8em + 250px);

			& > svg {
				stroke: gold;
				/* glow */
				filter: drop-shadow(0 0 0.25rem gold);
			}
			& > span {
				filter: drop-shadow(0 0 0.25rem gold);
				color: gold;
			}
		}
	}
	& .second {
		& > .place {
			border: 4px solid silver;
			height: calc(8em + 150px);

			& > svg {
				stroke: silver;
				filter: drop-shadow(0 0 0.25rem silver);
			}
			& > span {
				filter: drop-shadow(0 0 0.25rem silver);
				color: silver;
			}
		}
	}
	& .third {
		& > .place {
			border: 4px solid #e6882a;
			height: calc(8em + 50px);

			& > svg {
				stroke: #e6882a;
				filter: drop-shadow(0 0 0.25rem #e6882a);
			}
			& > span {
				filter: drop-shadow(0 0 0.25rem #e6882a);
				color: #e6882a;
			}
		}
	}
}
