.podium {
	grid-area: podium;
	display: flex;
	align-items: flex-end;
	width: 100%;
	gap: 0.5em;
	padding: 1em;
	& div {
		display: flex;
		align-items: center;
		flex-direction: column;
		& > span {
			font-size: 1.5rem;
			margin-bottom: 0.5em;
			font-weight: 700;
			display: flex;
			align-items: center;
			flex-direction: column;
			max-width: 150px;
			word-break: break-all;
		}
		& > .place {
			width: 100%;
			height: 100%;
			background-color: var(--secondary-800);

			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			border-top-right-radius: 1em;
			border-top-left-radius: 1em;

			& > svg {
				width: 8em;
				height: 8em;
			}
			& > span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, calc(-50% - 0.85rem));
				/* best roman letters font family smooth*/
				font-family: 'Trajan Pro 3', serif;

				font-size: 2em;
				/* letter-spacing: -0.2em; */
				font-weight: 900;
			}
		}
	}
	& .first {
		& > .place {
			height: calc(8em + 250px);

			border: 4px solid gold;

			& > svg {
				stroke: gold;
				/* glow */
				filter: drop-shadow(0 0 0.5rem gold);
			}
			& > span {
				color: gold;

				filter: drop-shadow(0 0 0.5rem gold);
			}
		}
	}
	& .second {
		& > .place {
			height: calc(8em + 150px);

			border: 4px solid silver;

			& > svg {
				stroke: silver;
				filter: drop-shadow(0 0 0.5rem silver);
			}
			& > span {
				color: silver;

				filter: drop-shadow(0 0 0.5rem silver);
			}
		}
	}
	& .third {
		& > .place {
			border: 4px solid #b65b00;
			height: calc(8em + 50px);

			& > svg {
				stroke: #b65b00;
				filter: drop-shadow(0 0 0.5rem #b65b00);
			}
			& > span {
				color: #b65b00;
				filter: drop-shadow(0 0 0.5rem #b65b00);
			}
		}
	}
}
