.answerButton {
	.selected {
		animation: answer 500ms infinite step-end;
	}

	.correct {
		--blink-color: green;
	}
}
.answerButton:not(:disabled):hover {
	.hexagon {
		fill: var(--primary-400);
	}
}
.answerButton:has(.selected):disabled {
	filter: none;
	color: inherit;
}

@keyframes answer {
	0% {
		fill: var(--blink-color, orangered);
	}
	50% {
		fill: var(--primary-800);
	}
	100% {
		fill: var(--blink-color, orangered);
	}
}
