.leaderBoard {
	display: flex;
	position: relative;
	grid-area: leaderboard;
	flex-direction: column;
	align-items: center;
	backdrop-filter: blur(4px);
	border-radius: 25px;
	background-color: #00000049;
	padding: 0.25rem;
	width: 85%;
	height: 90%;
	max-height: 100vh;

	& > h1 {
		font-size: 2rem;
		white-space: nowrap;
	}
	& > ol {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		padding: 1em;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		scrollbar-gutter: stable;
		list-style: none;
		&::-webkit-scrollbar {
			border-radius: 0.5rem;
			background-color: var(--secondary-300);
			width: 0.5rem;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 0.5rem;
			background-color: var(--primary-300);
		}
		& > li {
			display: flex;
			position: relative;
			justify-content: space-between;
			align-items: center;
			outline: 3px solid var(--secondary-500);
			border-radius: 0.25em;
			padding: 0.25rem 0.5rem;
			height: 1.25em;
			font-weight: bold;
			font-size: 2rem;
			& > span {
				display: flex;
				justify-content: center;
				align-items: center;
				vertical-align: middle;
				font-size: 1.25rem;
			}
		}

		.topThree {
			border: none;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				filter: drop-shadow(0 0 0.25rem var(--color, red));
				outline: 3px solid var(--color);
				border-radius: 0.25em;
				width: 100%;
				height: 100%;
				content: '';
			}

			.marker {
				filter: drop-shadow(0 0 0.25rem var(--color, red));
				width: 1.75em;
				height: 1.75em;
				color: var(--color, red);
			}
			&:first-child {
				--color: gold;
			}
			&:nth-child(2) {
				--color: silver;
			}
			&:nth-child(3) {
				--color: #e6882a;
			}
		}
	}
}
